In [1]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.model_selection import train_test_split


data= pd.read_csv("student_exam_data.csv")
df_= pd.DataFrame(data)
df= df_.copy()

display(df)

     Study Hours  Previous Exam Score  Pass/Fail
0       4.370861            81.889703          0
1       9.556429            72.165782          1
2       7.587945            58.571657          0
3       6.387926            88.827701          1
4       2.404168            81.083870          0
..           ...                  ...        ...
495     4.180170            45.494924          0
496     6.252905            95.038815          1
497     1.699612            48.209118          0
498     9.769553            97.014241          1
499     9.875897            66.760346          1

[500 rows x 3 columns]

In [2]:
df.isnull().sum()

Study Hours            0
Previous Exam Score    0
Pass/Fail              0
dtype: int64

In [3]:
df.describe()

       Study Hours  Previous Exam Score   Pass/Fail
count   500.000000           500.000000  500.000000
mean      5.487055            68.917084    0.368000
std       2.688196            17.129607    0.482744
min       1.045554            40.277921    0.000000
25%       3.171517            53.745955    0.000000
50%       5.618474            68.309294    0.000000
75%       7.805124            83.580209    1.000000
max       9.936683            99.983060    1.000000

In [4]:
X = df[['Study Hours', 'Previous Exam Score']]
y = df['Pass/Fail']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:
model = LogisticRegression()

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

print("Model Accuracy:", accuracy)
print("\nConfusion Matrix:")
print(conf_matrix)
print("\nClassification Report:")
print(classification_rep)

Model Accuracy: 0.86

Confusion Matrix:
[[58  6]
 [ 8 28]]

Classification Report:
              precision    recall  f1-score   support

           0       0.88      0.91      0.89        64
           1       0.82      0.78      0.80        36

    accuracy                           0.86       100
   macro avg       0.85      0.84      0.85       100
weighted avg       0.86      0.86      0.86       100

In [6]:
model_2 = SVC()

model_2.fit(X_train, y_train)

y_pred = model_2.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

print("SVM Model Accuracy:", accuracy)
print("\nConfusion Matrix:")
print(conf_matrix)
print("\nClassification Report:")
print(classification_rep)

SVM Model Accuracy: 0.92

Confusion Matrix:
[[61  3]
 [ 5 31]]

Classification Report:
              precision    recall  f1-score   support

           0       0.92      0.95      0.94        64
           1       0.91      0.86      0.89        36

    accuracy                           0.92       100
   macro avg       0.92      0.91      0.91       100
weighted avg       0.92      0.92      0.92       100